modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Type Talk"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "Type Talk"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=18115 pnpm --filter @workspace/mobile run dev"
waitForPort = 18115

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 pnpm --filter @workspace/api-server run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 8083
externalPort = 3002

[[ports]]
localPort = 8084
externalPort = 3003

[[ports]]
localPort = 8085
externalPort = 4200

[[ports]]
localPort = 8086
externalPort = 5000

[[ports]]
localPort = 8087
externalPort = 5173

[[ports]]
localPort = 8088
externalPort = 6000

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 18116
externalPort = 6800

[objectStorage]
defaultBucketID = "replit-objstore-855e756f-551b-441b-820d-b4c4e25aed19"

[userenv]

[userenv.shared]
JWT_SECRET = "4178da26efbb5647f7416ac97e47a2fabc3424c45ccb426e11ad142aebc655cf26d12b573d5d74c0c651584590c763bb1920c2623fee40154caa6c0278c9ef7b"
